
.details-nav button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Replaces margin-left on p for better spacing */
    margin: 0 0 20px 10px; /* Shorthand for margin-bottom and margin-left */
    background: none;
    border: none;
    cursor: pointer;
}

.details-nav p {
    font-size: medium;
}
