.MP-section {
  padding: 20px;
  position: relative;
}


/* Movie Grid Layout */
.MP-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  justify-content: center;
}

/* Movie Box with 3D Effect */
.MP-box {
  width: 480px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  /*box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);*/
  padding-bottom: 10px;
  transition: transform 0.3s;
  perspective: 1000px;
}

.MP-box:hover {
  transform: rotateY(10deg) scale(1.03);
}

.MP-box img {
  width: 100%;
  border-radius: 10px;
  height: 270px;
}

.MP-box p {
  font-weight: bold;
  margin: 5px 0;
}

.mp-text {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}

.mp-text h3 {
  text-align: left;
  margin-left: 10px;
  padding-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.mp-text span {
  display: none;
}

.mp-text ul {
  display: flex;
  flex-direction: row;
}
.mp-text li {
  border: 1px solid #e85448;
  border-radius: 5px;
  font-size: x-small;
  margin: 10px 0 0 20px;
  color: #e85448;
  display: inline-block;
  padding: 2px 5px;
}
@media screen and (max-width: 1440px) {
  .MP-grid {
    grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
  }
  .MP-box {
    width: 100%;
  }
  .MP-box img{
    height: fit-content;
  }
}
@media screen and (max-width: 768px) {
  .MP-grid {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }

  .MP-box {
    width: 100%;
  }
  .MP-box img {
    height: 200px;
  }

  .MP-text {
    flex-direction: column;
    text-align: center;
  }

  .MP-text ul {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .MP-grid {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
  .MP-box {
    width: 100%;
  }
  .MP-box img {
    height: max-content;
  }

  .MP-text {
    text-align: center;
    font-size: 10px;
    flex-direction: row;
  }

  .MP-text ul, .MP-text li{
    justify-content: center;
    font-size: 9px;
  }

  .MP-title {
    flex-direction: row;
    text-align: center;
    font-size: 10px;
  }
}



