.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-box {
  background: #fff;
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 100px;
  margin-bottom: 10px;
}

.register-box h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.register-box input{
  width: 90%; 
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dob-fields {
  display: flex;
  justify-content: space-between;
}

.dob-fields input {
  width: 32%;
}

.terms {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.terms input {
  margin-right: 5px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.register-box img{
  width: 150px;
  height: 150px;
}