.hamburgerContainer {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 30px;
}

.line1,
.line2,
.line3 {
  width: 30px;
  height: 3px;
  background-color: rgb(232, 84, 72);
  transition: all 0.3s ease;
}

/* Animation for open state */
.degreeLine1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.hideLine2 {
  opacity: 0;
}

.degreeLine3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Side Bar*/

.sidebar {
  position: fixed;
  bottom: 0;
  left: -360px; /* Initially hidden */
  width: 360px;
  height: 86vh;
  background-color: #4d4848;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  padding: 20px;
}

.sidebar-open {
  left: 0;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding: 12px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}
