.NR-movie-section {
  padding: 20px;
  position: relative;
}

/* Scroll Container */
.NR-scroll-container {
  overflow-x: auto;
  padding: 10px;
  scrollbar-width: none;
  scroll-behavior: smooth;
  white-space: nowrap;
}

/* Movie Grid Layout */
.NR-movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-flow: column;
  gap: 20px;
  width: max-content;
}

/* Movie Box with 3D Effect */
.NR-movie-box {
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  transition: transform 0.3s;
  perspective: 1000px;
}

.NR-movie-box:hover {
  transform: rotateY(10deg) scale(1.03);
}

.NR-movie-box p {
  font-weight: bold;
  margin: 5px 0;
}

.scroll-btn {
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  backdrop-filter: blur(1px);
  margin: 10px;
}

.scroll-btn.left {
  left: 0;
}

.scroll-btn.right {
  right: 0;
}

.overlay {
  height: 500px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.9)
  );
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay li,
.overlay h3 {
  color: white;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: left;
}

.overlay li {
  border: 1px solid #e85448;
  border-radius: 5px;
  font-size: small;
  margin: 10px 0 0 20px;
  color: #e85448;
  display: inline-block;
  padding: 4px 10px;
}

.overlay h3 {
  margin-top: 355px;
}
